[TRAINCNN]
path_to_models = # Name of folder which stores models
model_to_load = # Name of model to load to allow additional training
csv_file_to_use = # Path to .csv storing training image paths. Example: SyntheWorld\images_subset\0000000001-1.png
path_to_usable_images = # Path to load images from. Prefix to be alongside paths from csv. Example: C:\Training_Images_Dir
output_images = # Whether model should save images, IO can increase training time
output_every_x_images = # Output evey image with 1 or only every 3rd of 4th or 10th etc.
image_size = # Images assumed square shaped. Example 512x512. Put one dimension here, such as: 512
number_of_classes = # Number of classes for semantic segmantation
image_channels = # Image channels, RGB would be 3. But this is not used
batch_size = # Not used
learning_rate = # Learning rate for model
number_of_epochs = # Number of training epochs
training_ratio = # Trainig ratio. Example: 0.7, means 0.7 would be used for training set, rest for validation set